#api2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    background: rgb(19, 172, 172);
    color: rgb(5, 189, 103);
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

#api2 img {
    width: 100%; /* Ajusta el tamaño de la imagen según lo necesites */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
}

#api2:hover {
    text-decoration: none;
    color: rgb(33, 161, 119);
    background: rgb(8, 243, 243);
}


   