#content{

    display: flex;
    background-color: rgb(7, 209, 209);
    
    
}

img{
    border: 2px solid rgb(0, 183, 255);
    border-radius: 50%;
    width: 80px;
    height: 70px;
}